<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>
            E-Voting | Create Ballot
        </title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
        <link href="css/animate.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
        <link href="css/plugins/datapicker/datepicker3.css" rel="stylesheet">
        <link href="css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
        </link>
        </link>
        </link>
        </link>
        </link>
        </link>
        </link>
        </link>
        </meta>
        </meta>
        <link rel="stylesheet" type="text/css" href="css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css">
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                <span>
                                <img alt="image" class="img-circle" src="img/profile_small.jpg"/>
                                </span>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="clear">
                                <span class="block m-t-xs">
                                <strong class="font-bold">
                                David Williams
                                </strong>
                                </span>
                                <span class="text-muted text-xs block">
                                Admin
                                </span>
                                </span>
                                </a>
                            </div>
                            <div class="logo-element">
                                IN+
                            </div>
                        </li>
                        <li class="active">
                            <a href="#">
                            <i class="fa fa-edit">
                            </i>
                            <span class="nav-label">
                            Menu
                            </span>
                            <span class="fa arrow">
                            </span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/view-list">
                                    View List
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="/ballot">
                                    Create Ballot
                                    </a>
                                </li>
                                <li>
                                    <a href="/view-votes">
                                    View Votes
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="gray-bg" id="page-wrapper">
                <div class="row border-bottom"></div>
                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-lg-10">
                        <h2>
                            Create Ballot
                        </h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="index.html">
                                Home
                                </a>
                            </li>
                            <li class="active">
                                <strong>
                                Create Ballot
                                </strong>
                            </li>
                        </ol>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>
                                        Create form
                                    </h5>
                                </div>
                                <div class="ibox-content">
                                    <form class="form-horizontal" method="POST" name="BallotForm">
                                        <div class="form-group">
                                            <label class="col-sm-3 ">
                                            <input autocomplete="off" class="form-control ballot-name" name="ballot_name" placeholder="Election Name" type="text">
                                            </input>
                                            </label>
                                            <label class="col-sm-3 ">
                                            <input autocomplete="off" class="form-control date start-date" name="start_date" placeholder="Start Date" type="text">
                                            </input>
                                            </label>
                                            <label class="col-sm-3 ">
                                            <input type="text" name="" placeholder="Nominee Name" id="" class="tagsinput-typeahead form-control nominee">
                                            </label>
                                            <div class="col-sm-3">
                                                <button class="btn btn-primary createBallot" type="button">
                                                Create Ballot
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="hr-line-dashed">
                                    </div>
                                    <form class="form-horizontal" method="POST">
                                        <div class="form-group">
                                            <label class="col-sm-10 ">
                                            <input autocomplete="off" class="form-control" type="text"/>
                                            </label>
                                            <div class="col-sm-2">
                                                <a class="btn btn-primary" data-toggle="modal" href="#modal-form">
                                                +
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <ul class="list-inline pull-left copy-right">
                        <li>Copyright</li>
                        <li>&copy; 2017</li>
                    </ul>
                    <ul class="list-inline pull-right">
                        <li>Powered By</li>
                        <li><img src="img/vue.png" class="powered-by-image"></li>
                        <li><img src="img/nodejs.png" class="powered-by-image" ></li>
                        <li><img src="img/ethereum.png" class="powered-by-image" ></li>
                        <li><img src="img/AWS-Lambda.png" class="powered-by-image" ></li>
                    </ul>
                </div>
                <div aria-labelledby="myModalLabel" class="modal fade" id="modal-form" role="dialog">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">
                                ×
                                </span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Voter List
                                </h4>
                            </div>
                            <form class="form-horizontal" method="POST">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                        Adhaar Numbers
                                        </label>
                                        <div class="col-sm-10">
                                            <input autocomplete="off" class="tagsinput-typeahead form-control adhaar" type="text"/>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed">
                                    </div>
                                    
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-default" data-dismiss="modal" type="button">
                                    Close
                                    </button>
                                    <button class="btn btn-primary" id="save_changes" type="submit">
                                    Upload
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mainly scripts -->
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <!-- Custom and plugin javascript -->
        <script src="js/inspinia.js"></script>
        <script src="js/plugins/pace/pace.min.js"></script>
        <script src="js/plugins/jasny/jasny-bootstrap.min.js"></script>
        <!-- iCheck -->
        <script src="js/plugins/iCheck/icheck.min.js"></script>
        <script src="js/plugins/datapicker/bootstrap-datepicker.js"></script>
        <script src="js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
        <script>

         function showList(ballotList){
                // $('')
         }
           $(document).ready(function () {

                let ballotList = [];

                $('.tagsinput-typeahead').tagsinput({});
                $('input.date').datepicker({
                    format: "dd/mm/yyyy",
                    autoclose: true
                });
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });


            });
            $(document).on('click', '.add', function () {
                var parentId = $(this).closest('table').attr('id');
                var $tr = $(this).closest('tr');
                var allTrs = $tr.closest('table').find('tr');
                var lastTr = allTrs[allTrs.length - 1];
                var $clone = $(lastTr).clone();
                $clone.find('td').each(function () {
                    var el = $(this).find(':first-child');
                    var id = el.attr('id') || null;
                    if (id) {
                        var i = id.substr(id.length - 1);
                        var prefix = id.substr(0, (id.length - 1));
                        el.attr('id', prefix + (+i + 1));
                    }
                });
                $clone.find('input:text').val('');
                $clone.find('textarea').val('');
                $clone.find('input:hidden').val('');
                $tr.closest('table').append($clone);
            });
            $(document).on('click', '.delete', function () {
                var parentId = $(this).closest('table').attr('id');
                if ($('#' + parentId + '  tr').length > 1) {
                    var $tr = $(this).closest('tr');
                    $tr.remove();
                }
            });
            $(document).on('click', '.createBallot', function (e) {
                e.preventDefault();
                var data = {
                    contractName: $('.ballot-name').val(),
                    startTime: $('.start-date').val(),
                    partyArr: $('.nominee').val()
                }
                console.log(data)
                $.ajax({
                    method: "POST",
                    url: "../api/create-ballot",
                    data: data,
                    success: function (data) {

                    }
                });
            });
        </script>
    </body>
</html>