<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>E-Voting | Login</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="css/animate.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body class="gray-bg">
        <div class="middle-box text-center loginscreen animated fadeInDown">
            <div>
                <div>
                    <h1 class="logo-name"><img src="img/e-voting-logo.png" width="150"></h1>
                </div>
                <h3>Welcome to E-Voting</h3>
                
                <p>Login in. To see it in action.</p>
                <form class="m-t" role="form" action="#">
                    <div class="form-group">
                        <input type="text" class="form-control adhaar" placeholder="Aadhar number" required="">
                    </div>
                    <div class="form-group">
                        <input type="Password" class="form-control password" placeholder="Password" required="">
                    </div>
                    <button type="button" class="btn btn-primary block full-width m-b login">Login</button>
                    <p class="text-muted text-center"><small>Do not have an account?</small></p>
                    <a class="btn btn-sm btn-white btn-block" href="/register">Create an account</a>
                </form>
                <br>
            </div>
        </div>
        <div class="footer">
            <ul class="list-inline pull-left copy-right">
                <li>Copyright</li>
                <li>&copy; 2017</li>
            </ul>
            <ul class="list-inline pull-right">
                <li>Powered By</li>
                <li><img src="img/vue.png" class="powered-by-image"></li>
                <li><img src="img/nodejs.png" class="powered-by-image" ></li>
                <li><img src="img/ethereum.png" class="powered-by-image" ></li>
                <li><img src="img/AWS-Lambda.png" class="powered-by-image" ></li>
            </ul>
        </div>
        <!-- Mainly scripts -->
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    
    </body>

    <script type="text/javascript">
        $(document).ready(function(){
            $(document).on('click', '.login', function (e) {
                e.preventDefault();
                var data = {
                    password: $('.password').val(),
                    adharnumber: $('.adhaar').val(),
                }
                console.log(data)
                $.ajax({
                    method: "POST",
                    url: "/api/admin-login",
                    data: data,
                    success: function (res) {
                            if(res.status == 'Success'){
                                sessionStorage.setItem('adminAdhar', data.adharnumber);
                                window.location.href =  "ballot";
                            }                               
                            else
                                alert(res.message)
                    }
                });
            });

            $('.adhaar').on('keyup',function(e){
                let adhaar = $(this).val()
                if(adhaar.lenth > 4)
                {
                    let data = {adharNumber : adhaar};
                    $.ajax({
                        method: "POST",
                        url: "/api/validate-adhar",
                        data: data,
                        success: function (data) {
                                if(data.status==1){
                                    $('.login').prop('disabled', false)
                                    alert(data.message)
                                }
                                else{
                                    $(".adhaar").addClass("boder-red")
                                    $('.login').prop('disabled', true)
                                    alert(data.message)
                                }
                        }
                    });
                }
            })
        })
    </script>
</html>