<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>E-Voting | Register</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name"><img src="img/e-voting-logo.png" width="150"></h1>

            </div>
            <h3>Register to E-Voting</h3>
            <p>Create admin account to create ballot.</p>
            <form class="m-t" role="form" action="login.html">
                <div class="form-group">
                    <input type="text" class="form-control username" placeholder="Name" required="" >
                </div>
                <div class="form-group">
                    <input type="test" class="form-control adhaar" placeholder="Aadhar number" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control password" placeholder="Password" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control retype-check" placeholder="Retype Password" required="">
                </div>
               
                <div class="form-group">
                        <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
                </div>
                <button type="button" class="btn btn-primary block full-width m-b register"  >Register</button>

                <p class="text-muted text-center"><small>Already have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="/">Login</a>
            </form>
           
        </div>
    </div>
    <div class="footer">
        <ul class="list-inline pull-left copy-right">
            <li>Copyright</li>
            <li>&copy; 2017</li>
        </ul>
        <ul class="list-inline pull-right">
            <li>Powered By</li>
            <li><img src="img/vue.png" class="powered-by-image"></li>
            <li><img src="img/nodejs.png" class="powered-by-image" ></li>
            <li><img src="img/ethereum.png" class="powered-by-image" ></li>
            <li><img src="img/AWS-Lambda.png" class="powered-by-image" ></li>
        </ul>
    </div>

    <!-- Mainly scripts -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $('.retype-check').on('keyup',function(e){
                let pass = $(".password").val()
                let repass = $(this).val()

                if(pass ==repass){
                    $(".password").addClass("boder-green")
                    $(".retype-check").addClass("boder-green")
                    $('.register').prop('disabled', false)
                }
                else  {
                    $(".password").addClass("boder-red")
                    $(".retype-check").addClass("boder-red")
                    $('.register').prop('disabled', true)

                }
                    
                   // console.log($(this).val())
            })

            // $('.adhaar').on('keyup',function(e){
            //     //debugger;
            //     var adhaar = $(this).val();

            //     if(adhaar.length > 4)
            //     {
            //         let data = {adharNumber : adhaar};
            //         $.ajax({
            //             method: "POST",
            //             url: "/api/validate-adhar",
            //             data: data,
            //             success: function (data) {
            //                     if(data.message){
            //                         console.log("Adhaar validation");
            //                         $(".adhaar").addClass("boder-green");
            //                     }
            //                     else{
            //                         $(".adhaar").addClass("boder-red");
            //                     }
            //             }
            //         });
            //     }else{
            //         $(".adhaar").addClass("boder-red");
            //     }
            // });

            $(document).on('click', '.register', function (e) {
                e.preventDefault();
                var data = {
                    username: $('.username').val(),
                    password: $('.password').val(),
                    adharnumber: $('.adhaar').val(),
                }
                console.log(data)
                $.ajax({
                    method: "POST",
                    url: "/api/admin-create",
                    data: data,
                    success: function (data) {
                        if(data.status == 'success')
                            alert(data.message)
                        else
                            alert(data.message)
                    }
                });
            });
        });
    </script>
</body>
<style type="text/css">
    .boder-red{
        border-color:red !important;
    }
    .boder-green{
        border-color:#1ab394 !important;
    }
</style>
</html>
