<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>E-Voting | Create Ballot</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
        <link href="css/animate.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
        <link href="css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
        <link href="css/plugins/select2/select2.min.css" rel="stylesheet">
        <link href="css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                <span>
                                    <img alt="image" class="img-circle" src="img/profile_small.jpg" />
                                </span>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong>
                                        </span> <span class="text-muted text-xs block">Admin </span> </span> </a>
                                        
                                    </div>
                                    <div class="logo-element">
                                        IN+
                                    </div>
                                </li>
                                
                                <li class="active">
                                    <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Menu</span><span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li><a href="/view-list">View List</a></li>
                                        <li><a href="/ballot">Create Ballot</a></li>
                                        <li  class="active"><a href="/view-votes">View Votes</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div id="page-wrapper" class="gray-bg">
                        <div class="row border-bottom">
                        </div>
                        <div class="row wrapper border-bottom white-bg page-heading">
                            <div class="col-lg-10">
                                <h2>View Votes</h2>
                                <ol class="breadcrumb">
                                    <li>
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li class="active">
                                        <strong>View Votes</strong>
                                    </li>
                                </ol>
                            </div>
                            <div class="col-lg-2">
                            </div>
                        </div>
                        <div class="wrapper wrapper-content animated fadeInRight">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>See poll details</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <form method="POST" class="form-horizontal">
                                                
                                                
                                                <div class="form-group"><label class="col-sm-10 "><select data-placeholder="Choose a Country..." class="chosen-select"  tabindex="2">
                                                    <option value="">Select</option>
                                                    <option value="United States">United States</option>
                                                    <option value="United Kingdom">United Kingdom</option>
                                                </select></label>
                                                <div class="col-sm-2">  <button class="btn btn-primary" type="submit">Chose</button></div>
                                            </div>
                                            
                                        </form>
                                        
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="ibox float-e-margins">
                                                    
                                                    <div class="ibox-content">
                                                        
                                                        <div class="table-responsive">
                                                            <table class="table table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Party Name </th>
                                                                        <th>Votes </th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        
                                                                        <td>Project<small>This is example of project</small></td>
                                                                        <td>20%</td>
                                                                        <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                                                    </tr>
                                                                    <tr>
                                                                        
                                                                        <td>Project<small>This is example of project</small></td>
                                                                        <td>20%</td>
                                                                        <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="footer">
                        
                        <div>
                            <strong>Copyright</strong>&copy; 2017
                        </div>
                        <ul class="list-inline pull-right">
                            <li>Powered By</li>
                            <li><img src="img/vue.png" class="power-by-image"></li>
                            <li><img src="img/nodejs.png" class="power-by-image" ></li>
                            <li><img src="img/ethereum.png" class="power-by-image" ></li>
                            <li><img src="img/AWS-Lambda.png" class="power-by-image" ></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
            <!-- Mainly scripts -->
            <script src="js/jquery-3.1.1.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
            <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
            <!-- Custom and plugin javascript -->
            <script src="js/inspinia.js"></script>
            <script src="js/plugins/pace/pace.min.js"></script>
            <script src="js/plugins/jasny/jasny-bootstrap.min.js"></script>
            <!-- iCheck -->
            <script src="js/plugins/iCheck/icheck.min.js"></script>
            <script src="js/plugins/select2/select2.full.min.js"></script>
            <script src="js/plugins/chosen/chosen.jquery.js"></script>
            <script>
            $(document).ready(function () {
            $('.chosen-select').chosen({width: "100%"});
            $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
            });
            });
            </script>
        </body>
    </html>